Lab Inventory & Refill Alerts.json
{
  "name": "Lab Inventory & refill Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        -96
      ],
      "id": "6853cef6-3093-42cf-bc66-d6a3304e2ce9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appW0MwZ9Xm9vUSPa",
          "mode": "list",
          "cachedResultName": "Biotech Automation",
          "cachedResultUrl": "https://airtable.com/appW0MwZ9Xm9vUSPa"
        },
        "table": {
          "__rl": true,
          "value": "tbluYQUkLVIYSBJL5",
          "mode": "list",
          "cachedResultName": "Lab Inventory",
          "cachedResultUrl": "https://airtable.com/appW0MwZ9Xm9vUSPa/tbluYQUkLVIYSBJL5"
        },
        "filterByFormula": "OR( {Status} = 'LOW' , {Status} = 'CRITICAL' )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "79bccd3d-9cca-42fa-ad4f-0326d636af3b",
      "name": "Search records",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "y6meb9PHVtZ35e2r",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet rows = '';\n\nitems.forEach(item => {\n  const f = item.json.fields;\n  const color = f.Status === 'CRITICAL' ? '#ff0000' : '#ff8c00';\n  rows += `\n    <tr>\n      <td style=\"padding:8px;border:1px solid #ddd\">${f['Item Name']}</td>\n      <td style=\"padding:8px;border:1px solid #ddd;color:${color};font-weight:bold\">${f['Current Stock']} ${f['Unit']}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${f['Minimum Threshold']} ${f['Unit']}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${f['Supplier']}</td>\n      <td style=\"padding:8px;border:1px solid #ddd;color:${color};font-weight:bold\">${f['Status']}</td>\n    </tr>\n  `;\n});\n\nconst html = `\n<h2 style=\"color:#cc0000\">🔴 Lab Inventory Alert</h2>\n<p>The following items require immediate reorder:</p>\n<table style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#2c3e50;color:white\">\n    <th style=\"padding:8px;border:1px solid #ddd\">Item</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Current Stock</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Minimum Required</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Supplier</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Status</th>\n  </tr>\n  ${rows}\n</table>\n<br>\n<p style=\"color:gray;font-size:12px\"><i>Automated by Lab Inventory System</i></p>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ],
      "id": "447857c3-9629-4c99-b50f-15550b05c149",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "roylee000002@gmail.com",
        "subject": "🔴 Lab Inventory Alert — Action Required",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -96
      ],
      "id": "58dc60b5-433d-449e-9b40-e71784c8b4d4",
      "name": "Send a message",
      "webhookId": "649d260c-0691-4769-a2dd-973c8664f650",
      "credentials": {
        "gmailOAuth2": {
          "id": "OrZFSQuzaE8B9tpn",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appW0MwZ9Xm9vUSPa",
          "mode": "list",
          "cachedResultName": "Biotech Automation",
          "cachedResultUrl": "https://airtable.com/appW0MwZ9Xm9vUSPa"
        },
        "table": {
          "__rl": true,
          "value": "tbluYQUkLVIYSBJL5",
          "mode": "list",
          "cachedResultName": "Lab Inventory",
          "cachedResultUrl": "https://airtable.com/appW0MwZ9Xm9vUSPa/tbluYQUkLVIYSBJL5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Last Alerted": "={{ $now.toISODate() }}",
            "Current Stock": "={{ $json.fields['Current Stock'] }}",
            "Minimum Threshold": "={{ $json.fields['Minimum Threshold'] }}",
            "Item Name": "={{ $json.fields['Item Name'] }}",
            "Supplier": "={{ $json.fields.Supplier }}",
            "Unit": "={{ $json.fields.Unit }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Stock",
              "displayName": "Current Stock",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Minimum Threshold",
              "displayName": "Minimum Threshold",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "L",
                  "value": "L"
                },
                {
                  "name": "mL",
                  "value": "mL"
                },
                {
                  "name": "units",
                  "value": "units"
                },
                {
                  "name": "kg",
                  "value": "kg"
                },
                {
                  "name": "boxes",
                  "value": "boxes"
                },
                {
                  "name": "mg",
                  "value": "mg"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "OK",
                  "value": "OK"
                },
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Alerted",
              "displayName": "Last Alerted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "b4653eb7-5520-410b-a479-74fa008b902b",
      "name": "Update record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "y6meb9PHVtZ35e2r",
          "name": "Airtable OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fd50bc46-bb86-4d28-9034-d08c757213f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7ea9f942d522f0faaaeb740566eb23eb2fe592628499c83cacfa121be29288c"
  },
  "nodeGroups": [],
  "id": "8QFO4rGSIHgVNDmy",
  "tags": [
    {
      "updatedAt": "2026-06-09T07:09:52.039Z",
      "createdAt": "2026-06-09T07:09:52.039Z",
      "id": "25QcafTS16WgSsZy",
      "name": "Complete"
    }
  ]
}